
<div class="col-md-6">

<table class="table">

  <tr ng-repeat="note in notes track by $index">

    <td><a href="#/note/{{note.id}}">{{note.title == "" ? "no title" : note.title}}</a></td>
    <td>{{note.date | date:dateFormat}}</td>

  </tr>

</table>


</div>

<div  class="col-md-6">

<form role="form">
  <div class="form-group">
    
    <input type="text" class="form-control" id="title" ng-model="note.title" placeholder="title">
  </div>
  <div class="form-group">
    
    <text-angular id="body" ng-model="note.body" ta-toolbar="[['bold','italics', 'underline'],['ul','ol'],['undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight']]" placeholder="body"></text-angular>
  </div>

    <div>    
    <button ng-click="save()" class="btn btn-primary">Save</button>
  </div>

</form>  

</div>